# Telemindex

## Importamos librerías

In [1]:
#En pruebas: Uso de la variables mes_seleccionado definida en el archivo 'globals.py'

In [2]:
import pandas as pd
import plotly.express as px
import globals

## Importamos el fichero excel

In [3]:
df_in=pd.read_excel('data.xlsx')
df_in

,fecha,año,mes,mes_nombre,dia,dia_semana,hora,dh_6p,dh_3p,pmh,...,perd_3.0,perd_6.1,pyc_2.0,pyc_3.0,pyc_6.1,precio_2.0,precio_3.0,precio_6.1,demanda_GWh,pvpc
0,2024-09-20,2024,9,septiembre,20,viernes,23,P4,P2,118.72,...,0.162923,0.064182,27.963,10.389,8.037,172.648184,155.485551,140.630123,0.0,NaN
1,2024-09-20,2024,9,septiembre,20,viernes,22,P4,P2,125.00,...,0.157785,0.062158,27.963,10.389,8.037,179.383360,162.224426,147.148332,0.0,NaN
2,2024-09-20,2024,9,septiembre,20,viernes,21,P3,P1,146.97,...,0.147419,0.058074,76.974,17.361,12.716,254.057733,193.528838,174.930077,0.0,NaN
3,2024-09-20,2024,9,septiembre,20,viernes,20,P3,P1,145.73,...,0.150985,0.059479,76.974,17.361,12.716,253.162898,192.627657,173.811965,0.0,NaN
4,2024-09-20,2024,9,septiembre,20,viernes,19,P3,P1,113.00,...,0.150287,0.059204,76.974,17.361,12.716,214.780793,154.307751,138.582397,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15096,2023-01-01,2023,1,enero,1,domingo,4,P6,P3,0.00,...,0.278267,0.119037,3.175,2.370,1.426,57.258845,56.453845,48.772747,0.0,NaN
15097,2023-01-01,2023,1,enero,1,domingo,3,P6,P3,0.00,...,0.271627,0.116196,3.175,2.370,1.426,54.732076,53.927076,46.681249,0.0,NaN
15098,2023-01-01,2023,1,enero,1,domingo,2,P6,P3,0.00,...,0.260780,0.111556,3.175,2.370,1.426,54.343489,53.538489,46.538253,0.0,NaN
15099,2023-01-01,2023,1,enero,1,domingo,1,P6,P3,0.00,...,0.246510,0.105451,3.175,2.370,1.426,39.480134,38.675134,33.622745,0.0,NaN
15100,2023-01-01,2023,1,enero,1,domingo,0,P6,P3,0.00,...,0.236678,0.101246,3.175,2.370,1.426,38.214706,37.409706,32.628395,0.0,NaN

## Filtramos por el año 2024

In [4]:
año=2024 #con cambiar este valor ya sobra para filtrar la tabla
filtro_año=df_in['año']==año
dffa =df_in[filtro_año].set_index('fecha')
dffa

,año,mes,mes_nombre,dia,dia_semana,hora,dh_6p,dh_3p,pmh,ssaa,...,perd_3.0,perd_6.1,pyc_2.0,pyc_3.0,pyc_6.1,precio_2.0,precio_3.0,precio_6.1,demanda_GWh,pvpc
fecha,,,,,,,,,,,,,,,,,,,,,
2024-09-20,2024,9,septiembre,20,viernes,23,P4,P2,118.72,0.00,...,0.162923,0.064182,27.963,10.389,8.037,172.648184,155.485551,140.630123,0.00,NaN
2024-09-20,2024,9,septiembre,20,viernes,22,P4,P2,125.00,0.00,...,0.157785,0.062158,27.963,10.389,8.037,179.383360,162.224426,147.148332,0.00,NaN
2024-09-20,2024,9,septiembre,20,viernes,21,P3,P1,146.97,0.00,...,0.147419,0.058074,76.974,17.361,12.716,254.057733,193.528838,174.930077,0.00,NaN
2024-09-20,2024,9,septiembre,20,viernes,20,P3,P1,145.73,0.00,...,0.150985,0.059479,76.974,17.361,12.716,253.162898,192.627657,173.811965,0.00,NaN
2024-09-20,2024,9,septiembre,20,viernes,19,P3,P1,113.00,0.00,...,0.150287,0.059204,76.974,17.361,12.716,214.780793,154.307751,138.582397,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-01,2024,1,enero,1,lunes,4,P6,P3,42.50,22.69,...,0.276025,0.118077,2.752,2.192,1.276,92.254375,91.694375,79.699695,18.14,110.16
2024-01-01,2024,1,enero,1,lunes,3,P6,P3,43.50,20.86,...,0.268402,0.114816,2.752,2.192,1.276,90.651121,90.091121,78.531790,18.87,109.28
2024-01-01,2024,1,enero,1,lunes,2,P6,P3,47.50,19.05,...,0.257177,0.110015,2.752,2.192,1.276,92.667768,92.107768,80.666431,20.03,110.77
2024-01-01,2024,1,enero,1,lunes,1,P6,P3,50.09,20.75,...,0.243274,0.104067,2.752,2.192,1.276,97.087032,96.527032,85.048550,21.20,111.12
2024-01-01,2024,1,enero,1,lunes,0,P6,P3,63.33,15.41,...,0.237544,0.101616,2.752,2.192,1.276,106.575554,106.015554,93.695892,21.86,123.84

### Obtenemos el último registro

In [5]:
#usado como texto adicional en el gráfico si rango = todo el año
max_reg=dffa.index.max().strftime('%d-%m-%Y')
max_reg
texto_graf=f'Último día registrado: {max_reg}'

### Interacción en streamlit: Listado de meses disponibles para usar en un select_box

In [6]:
lista_meses=dffa['mes_nombre'].unique().tolist()
lista_meses

['septiembre',
 'agosto',
 'julio',
 'junio',
 'mayo',
 'abril',
 'marzo',
 'febrero',
 'enero']

In [7]:
orden_meses = {
    'enero': 1,
    'febrero': 2,
    'marzo': 3,
    'abril': 4,
    'mayo': 5,
    'junio': 6,
    'julio': 7,
    'agosto': 8,
    'septiembre': 9,
    'octubre': 10,
    'noviembre': 11,
    'diciembre': 12
}

In [8]:
lista_meses=sorted(lista_meses,key=lambda x:orden_meses[x])
lista_meses

['enero',
 'febrero',
 'marzo',
 'abril',
 'mayo',
 'junio',
 'julio',
 'agosto',
 'septiembre']

## Telemindex horario para streamlit

### Inicializamos dffm, que es el la tabla filtrada por el usuario

In [9]:
dffa_copia=dffa.copy()

## Filtramos el mes seleccionado por el usuario

In [10]:
def filtrar_mes(mes_seleccionado=None):
        if mes_seleccionado is None: 
                dffm=dffa_copia
        else:
                mes_filtro=dffa_copia['mes_nombre']==mes_seleccionado
                dffm=dffa_copia[mes_filtro]
                #texto_graf=f'{mes}'
        return dffm #,texto_graf

In [11]:
def aplicar_margen(mes_seleccionado,margen_aplicado):
    dffa_copia['precio_2.0']=dffa['precio_2.0'] #+=margen_aplicado #=dffm['precio_2.0']+margen
    dffa_copia['precio_3.0']=dffa['precio_3.0'] #+=margen_aplicado #dffm['precio_3.0']+margen
    dffa_copia['precio_6.1']=dffa['precio_6.1'] #+=margen_aplicado #dffm['precio_6.1']+margen
    dffa_copia['precio_2.0']+=margen_aplicado #=dffm['precio_2.0']+margen
    dffa_copia['precio_3.0']+=margen_aplicado #dffm['precio_3.0']+margen
    dffa_copia['precio_6.1']+=margen_aplicado #dffm['precio_6.1']+margen
    
    filtrar_mes(mes_seleccionado)

    return dffa_copia

### De esta tabla sale el gráfico

In [12]:
def pt1():
    dffm=filtrar_mes(globals.mes_seleccionado)
    
    pt1=dffm.pivot_table(
        values=['spot','precio_2.0','precio_3.0','precio_6.1'],
        index='hora',
        aggfunc='mean'
    ).reset_index()
    
    return pt1

In [13]:
pt1()

    hora  precio_2.0  precio_3.0  precio_6.1       spot
0      0   93.423601   92.863601   83.619686  62.924167
1      1   88.947749   88.387749   79.424915  58.084470
2      2   86.897634   86.337634   77.489425  55.404639
3      3   86.933171   86.373171   77.500821  54.491250
4      4   85.867723   85.307723   76.550613  53.375909
5      5   87.295750   86.735750   77.939133  54.910644
6      6   93.327496   92.767496   83.729606  60.274848
7      7  105.916441  105.356441   95.494345  69.175795
8      8  121.220412  113.463395  100.528051  65.028295
9      9  102.255564  102.884090   90.037253  51.828712
10    10  118.828574   83.886224   72.685842  39.958636
11    11  109.984551   75.047242   64.553484  33.163598
12    12  107.474919   72.539898   62.271491  30.847614
13    13  105.855120   70.922560   60.851069  29.290379
14    14   69.050362   61.328925   53.252468  28.166629
15    15   68.559162   60.843452   52.709407  27.226174
16    16   71.191608   63.485647   55.003616  28.617955
17    17   80.105545   72.436228   63.024067  34.826515
18    18  129.175271   94.241218   81.767900  45.421402
19    19  153.180541  118.245530  103.599394  61.703598
20    20  172.880872  137.934248  121.537674  76.620606
21    21  177.516305  142.552519  125.816428  83.852235
22    22  132.960619  125.164899  110.684857  76.545455
23    23  122.875387  115.094036  101.468748  67.312462

### Transponemos para visualizar en stremalit

In [14]:
def pt1_trans():
    pt2=pt1()
    pt1_trans=pt2.transpose()
    pt1_trans=pt1_trans.drop(['hora'])
    pt1_trans.columns.name='peajes'
    pt1_trans=pt1_trans.round(2)
    
    return pt1_trans

### Gráfico de salida para visualizar en streamlit

In [15]:
def graf_pt1():
    pt2=pt1()
    colores_precios = {'precio_2.0': 'goldenrod', 'precio_3.0': 'darkred', 'precio_6.1': 'blue'}
    graf_pt1=px.line(pt2,x='hora',y=['precio_2.0','precio_3.0','precio_6.1'],
        height=600,
        width=1000,
        title="Telemindex 2024: Precios medios horarios de indexado según tarifas de acceso",
        labels={'value':'€/MWh','variable':'Precios s/ ATR'},
        color_discrete_map=colores_precios,
    )
    graf_pt1.update_traces(line=dict(width=4))
    graf_pt1.add_annotation(
        dict(
            font=dict(size=12),
            x=0.5,
            y=1.05,
            showarrow=False,
            text=texto_graf,
            xref="paper",
            yref="paper"
        )
    )
    graf_pt1.update_layout(
        margin=dict(t=100),
        title_font_size=16,
    )
    graf_pt1=graf_pt1.add_bar(y=pt2['spot'], name='spot', marker_color='green', width=0.5)
    
    return graf_pt1

## Obtención de la tabla resumen de precios

In [16]:
#dffm=filtrar_mes(globals.mes_seleccionado)
def pt5_trans():
        dffm=filtrar_mes(globals.mes_seleccionado)    
        pt3=dffm.pivot_table(
                values=['precio_2.0'],
                aggfunc='mean',
                index='dh_3p'
                )
        pt4=dffm.pivot_table(
                values=['precio_3.0','precio_6.1'],
                aggfunc='mean',
                index='dh_6p',
                )
        pt5=pd.concat([pt3,pt4],axis=1)
        
        
        media_20=dffm['precio_2.0'].mean()
        media_30=dffm['precio_3.0'].mean()
        media_61=dffm['precio_6.1'].mean()
        media_spot=dffm['spot'].mean()
        precios_medios=[media_20,media_30,media_61]
        pt5_trans=pt5.transpose()
        pt5_trans['Media']=precios_medios
        pt5_trans=pt5_trans.div(10)
        pt5_trans=pt5_trans.round(1)
        pt5_trans=pt5_trans.fillna('')

        return pt5_trans, media_20,media_30,media_61,media_spot